<!-- add header -->
<%- include('includes/_header') %>
<!-- end header -->
<!-- Main section -->
<main id="main">
  <h2>Calculate Drugs to purchase</h2>
  <p>For how many days do you want to purchase drugs?</p>
  <form id="drug_days">
    <input type="number" id="days" value="30" />
    <button type="submit">Enter</button>
  </form>

  <table id="purchase_table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Drug Name</th>
        <th>Cards to Buy</th>
        <th>Packs to Buy</th>
        <th>Dosage</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through drugs -->
      <% for(let i = 0; i < drugs.length; i++) {%>
      <tr
        data-drug-id="<%= i %>"
        data-per-day="<%= drugs[i].perDay %>"
        data-card="<%= drugs[i].card %>"
        data-pack="<%= drugs[i].pack %>"
        data-dosage="<%= drugs[i].dosage %>"
      >
        <td><%= i + 1 %></td>
        <td><%= drugs[i].name %></td>
        <td class="cards-to-buy">
          <span class="cards-count"
            ><%= Math.ceil(days * drugs[i].perDay / drugs[i].card) %></span
          >
          (<%= drugs[i].pack/drugs[i].card %> <% if (drugs[i].pack/drugs[i].card
          < 2) { %> card <%} else { %> cards <% } %> per pack)
        </td>
        <td class="packs-to-buy">
          <%= Math.ceil(days * drugs[i].perDay / drugs[i].pack) %>
        </td>
        <td class="dosage-display"><%= drugs[i].dosage %></td>
      </tr>
      <% } %>
      <!--  End loop -->
    </tbody>
  </table>
</main>
<!-- End main section -->
<!-- add footer -->
<%- include('includes/_footer') %>
<!-- end footer-->
